* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0b0f;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

.banner {
    position: absolute;
    right: 30px;
    height: 80px;
    width: 80px;
}

header {
    text-align: center;
    background-color: #0c0e14;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 30px;
    text-align: center;
    background-color: #0c0e14;
    margin-bottom: 20px;
}

.enlace_menu {
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(135deg, #6b2fff, #382f4c);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.enlace_menu:hover {
    background: linear-gradient(135deg, #8c00ff, #5e3c80);
    transform: translateY(-2px);
}

.seleccionado {
    background: linear-gradient(135deg, #ff6aff, #8c00ff);
}

a {
    color: rgb(255, 255, 255);
}

.cajas-contenido ul.menu-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.cajas-contenido ul.menu-principal li {
    list-style: none;
}

.enlace {
    background: linear-gradient(135deg, #fffbf4, #d4b3ff);
    color: rgb(54, 0, 80);
    text-decoration: none;
    padding: 40px 20px;
    transition: all 0.3s ease;
    display: block;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.enlace:hover {
    background: linear-gradient(135deg, #b99ae9, #8c00ff);
    color: #ffffff;
    padding: 50px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

.submenu {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgba(54, 0, 80);
    transition: all 0.3s ease;
}

.submenu:hover {
    background: linear-gradient(135deg, #b99ae9, #8c00ff);
    color: #fff;
}


main {
    padding: 10px 80px;
    font: bold 15px verdana, calibri;
}

main li {
    position: relative;
}


main li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-15px) scaleY(0.95);
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 2;
    background-color: transparent;
}

main li:hover ul {
    opacity: 1;
    transform: translateY(0) scaleY(1);
    pointer-events: auto;
}

main li ul li {
    width: 100%;
}

main li ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

main li ul li a:hover {
    background-color: #ffffff;
    color: #2e0045;
}


@media (max-width: 1024px) {
    .banner {
        display: none;
    }
    .cajas-contenido ul.menu-principal {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .enlace {
        padding: 35px 15px;
        font-size: 1.3em;
    }
}



@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 55px;
        padding: 20px;
    }

    .cajas-contenido ul.menu-principal {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .enlace {
        padding: 30px 15px;
        font-size: 1.2em;
    }

    main {
        padding: 10px 20px;
    }
}