* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

.title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.img-top {
    display: flex;
    justify-content: center;
}

.section-content {
    display: flex;
    background-color: #e3f2ff;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.content-main {

    width: 45%;

}

h3 {
    font-weight: normal;
}

h1 {
    font-weight: bolder;
    font-size: 2.5em;
}

.butt_pricing {
    margin-top: 30px;
    background-color: rgb(0, 109, 198);
    color: white;
    padding: 15px;
    border-radius: 3px;
    font-size: 1.1em;
}

.butt_pricing a {
    color: white;
    text-decoration: none;
}

.butt_pricing:hover {
    cursor: pointer;
    background-color: #6bb0ff;
}

.video {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.datos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.cifras {
    font-size: 2.7em;
}

.formulario {
    background-color: #e2f4ff;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 30%;
    padding: 20px;

}

.titulo-form {
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: white;

}

.footer-title {
    font-size: 1.8em;
}

.top-footer {
    background-color: rgb(60, 141, 255);
    padding: 30px;
}

.bottom-footer {
    background-color: #545454;
    padding: 5px;
}