* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #8400ff;
    height: 80px; 
    padding: 0 40px;
}

nav h2 {
    background-color: #fff;
    display: flex;
    align-items: center; 
    height: 100%;       
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(191, 191, 191);
}

section {
    display: flex;
    margin-top: 40px;
}

.caja1 {
    width: 40%;
}
.caja1 img {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}
h1{
    font-size: 2.8em;
}
button {
    margin-top: 10px;
    padding: 15px;
    border-radius: 14px;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    background-color: #8400ff;
    transition: 0.2s ease;
}
button:hover {
        background-color: #9321fe;
}
.caja2{
    margin: 10px;
    width: 60%;
    align-content: center;
}

@media (max-width: 768px) {
    nav, section {
        flex-direction: column;
        align-items: center;

    }
}