body {
    background-color: #06041b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;


}

h1 {
    font-size: 4em;
}
main {

    text-align: center;

}

button {
    background-color: #034fb2;
    padding: 25px;
    border: 2px solid white;
    margin: 10px;
    border-radius: 10px;
    transition: 0.1s;
    color: white;
    font-weight: bold;
    font-size: 1.5em;

}

button:hover {
    cursor: pointer;
    background-color: #003983;

}
