body {
    background-color: #06041b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;


}

h1 {
    font-size: 4em;
}
main {
    text-align: center;

}

button {
    background: linear-gradient(135deg, #4019ff, #5f0eff);
    transition: all 0.3s ease;
    padding: 25px;
    margin: 10px;
    border-radius: 50px;
    transition: 0.1s;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;

}

button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #9b4eff, #a828e9);


}
